@media (min-width: 641px) and (max-width: 1199px) {
  
	body {
		font-family: OpenSans, sans-serif;
	}

  .all-content {
    display: flex;
    flex-direction: column;
  }
  
	/*______________________________________*/
	/* HEADER */
  
  .header {
    max-width: 1200px;
  }
  
  .header-banner {
	  background-image: url('../images/banner-bg-tablet.jpg');
	  background-position: center;
  }
	 
  .header-logo {
	  width: 158px;
  }
	.header-menu {
	  padding: 0 35px;
	}
	 
  .intro {
	  font-size: 40px;
	  line-height: 55px;
	  max-width: 650px;
  } 
  
	.menu__box {
	  display: none;
	}

  button.menu__burger {
    display: block;
    width: 23px;
    height: 23px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .menu__burger > span,
  .menu__burger > span::before,
  .menu__burger > span::after {
	  display: block;
    width: 100%;
  	height: 3px;
  	background-color: #ffffff;
  }
	
	.menu__burger > span::before {
  	content: '';
  	top: 0;
  	position: absolute;
  }
	
  .menu__burger > span::after {
  	content: '';
  	bottom: 0;
  	position: absolute;
  }
   
	/*______________________________________*/
	/* TRENDS */
	
	.trends {		
	  max-width: 1200px;
		margin-top: 50px;
	}
	
	.trend__content {
		position: relative;
		min-width: 49%;
		display: flex;
	  flex: 1;
		align-items: flex-end;
	  height: 247px;
	}
	
	.trend__title h3 a {
		font-size: 17px;
		line-height: 22px;
	}
	
	.trend__title-category ul>li {
		font-size: 14px;
		line-height: 37px;
	}
	
	/*______________________________________*/
	/* CONTENT */
	   
	.content {
		padding: 50px 35px;
	}
	   
	/* CONTENT.MAIN */
	   
	.main {
    display: flex;
    flex-direction: column;
		margin-right: 35px;
	}
	   
	.article {
	  flex-direction: column;
		margin-bottom: 40px;
    
	}
  
	.article::after {
	  content: '';
	  margin-top: 20px; 
	  width: 100%;
	  height: 3px;
	  background-color: #eeeeee;
	}
  
	.article:last-child::after{
	  display: none;
	}
	   
	.article-img__banner {
		width: 100%;
	}
	   
	.article-content__category ul>li {
		font-size: 14px;
	  line-height: 40px; 
	}
	   
	.article-content h3 a {
	  font-size: 17px;
	  line-height: 22px;
	}
  
	/*______________________________________*/
	/* SHOP */
	
	.shop {
		margin: 0 auto calc(50px + 25px) auto;
    display: flex;
    flex-direction: column;
	}
	
	.shop__products {
		display: flex;
		flex-wrap: wrap;
		padding: 0 25px;
		gap: 100px;
	}
	
	.shop__product {
    flex: 0 1 calc(50% - 50px);
		position: relative;
		display: flex;
		flex-direction: column;
	}
	
	.product__img img {
		height: 204px;
	}

	.product__header h3 {
		font-size: 17px;
		line-height: 22px;
	}
	
	/*______________________________________*/
	/* FOOOTER */
	
	.footer {
	  margin: 0 0;
	}

	/*______________________________________*/
	/* POPUP */

	.form__radio label::before {
		width: 27px;
		height: 27px;		
		background-size: 25px;
		top: -3px;
	}

	.form__radio label {
		margin-left: 32px;
	}

	.form__mail {
		margin-bottom: 40px;
	}
  
}